* {
    margin: 0;
    padding: 0;
}
.container {
    position: fixed;
    width: 100%;
    background-color: grey;
}
.navbar {
    position: fixed;
    margin: auto;
}

li.navbar_button {
    background-color: grey;
    list-style-type: none;
    display: inline-block;
    margin: 0;
    margin-left: -6px;
    border-left: 1px solid lightgrey;
    border-right: 1px solid lightgrey;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    padding: 15px 15px;
}

li.navbar_button:first-child {
    border-left: none;

}

li.navbar_button:last-child {
    border-right: none;
}

li.navbar_button a {
    text-decoration: none;
    color: black;
}

.navbar_button p {
    color: lightgrey;
    font-weight: 900;
}

li.navbar_button:hover p{
    color: greenyellow;
}

ul.navbar_left {
    float: left;
}

ul.navbar_right {
    float: right;
}

.navbar_right li.navbar_button {
    border: none;
}

.navbar_right p {
    text-decoration: underline;
}

.navbar_right li:last-child p {
    text-decoration: none;
}
