* {
	padding: 0;
	margin: 0;
	font-family: 'Open Sans', sans-serif;

}
.form_container {
	margin: auto;
	width: 500px;
	height: 500px;
}
.form_header {
	background-color: #222222;
	text-align: left;
	color: white;
	text-transform: uppercase;
	padding: 5px;
	font-weight: 900;
}
.form_item {
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #1C1C1C;
	height: 50px;
	border-top: 0.5px solid #262626;
}
.form_item_label {
	color: white;
	font-size: 12px;
	width: 20%;
	float: left;
	padding: 10px;
	text-align: right;
}
.form_item_input {
	float: left;
	padding: 10px;
}
.form_item_input input {
	width: 220px;
	height: 35px;
	background-color: #262626;
	border: none;
	color: white;
}
#textarea {
	height: 160px;
}
textarea {
	background-color: #262626;
	border: none;
	color: white;
}
#submit  {
	right: 40px;
	bottom: -195px;
	background-color: #CC0001;
	color: white;
	padding: 5px;
	border: none;
	font-weight: 100;
}
.submit_container input {
	float: right;
	margin: 10px;
	margin-right: 40px;
}

#submit:hover {
	background-color: white;
	color: #CC0001;
}